hybrid-and-tensorflow-recommender-system.ipynb
data/netflix price data.zip
data/netflix price data
sample-recommendation-mod-collaborative-filtering.ipynb
data/processed/data1.csv
models/svd.pkl
recommender